* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #242c3c;
  color: #a79062;
}

.header {
  padding: 8px 24px;
  text-align: center;
}

.container-projects {
  display: grid;
  gap: 16px;
  padding: 32px 46px 0px;
}

.container-projects div {
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 1px 3px rgb(212, 212, 212);
  line-height: 1.4em;
  margin: 5px;
  padding: 1em;
}

