* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
  margin-top: auto;
}

header {
  display: flex;
  background-color: rgb(50, 52, 51);
  color: white;
  justify-content: center;
  padding: 1em;
}

.container-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-projects div {
  flex-direction: column;
  margin: 5px;
  padding: 10px 0px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 3px rgb(212, 212, 212);
  background-color: rgb(241, 241, 241);
  color: rgb(128, 144, 166);
  display: flex;
  padding: 1em;
  width: 40%;
  line-height: 1.4em;
  min-height: 15em;
}

.container-projects div h1 {
  margin-bottom: 1em;
}

