body {
  background-color: rgb(188, 211, 133);
}

header ,div {
  text-align: center;
}

.selectedList {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}
