* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #242c3c;
  color: #a79062;
}

p {
  margin-bottom: 16px;
  line-height: 24px;
}

h2 {
  color: #ffd900c2;
  font-size: 24px;
  margin-bottom: 20px;
}

a {
  align-items: center;
  color: #a79062;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
}

.header {
  background-color: #242c3c;
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  position: fixed;
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 24px;
}

.menu li {
  border-bottom: solid black 1px;
  padding: 8px;
}

.title {
  padding: 64px 46px 8px;
  text-align: center;
}

.imageProfile {
  display: flex;
  margin: auto;
}

.presentation, .description, .contacts {
  padding: 32px 46px 8px;
  text-align: justify;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  padding: 20px;
}

.icons {
  display: grid;
  grid-gap: 26px;
  grid-template-columns: repeat(3, 1fr);
}

.btn-fixed {
  bottom: 50%;
  display: none;
  position: fixed;
  right: 1%;
}

.btn-fixed.active {
  display: flex;
}

@media (max-width: 768px) {
  .menu {
      background-color: #333;
      display: none;
      flex-direction: column;
      left: 0;
      position: absolute;
      right: 0;
  }

  .menu.active {
      display: flex;
  }

  .menu-toggle {
      display: block;
  }
}
