* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5em;
  opacity: 0.8;
}

a:hover {
  opacity: 1.0;
}

body {
  background-image: linear-gradient(to bottom, #5cd1d9, #348499);
  height: 100vh;
}

.header {
  display: flex;
  background-color: cadetblue;
  align-items: center;
}

.nav-header {
  display: flex;
}

.nav-header div {
  display: flex;
  margin: auto 1em;
}

.trybe-logo {
  max-width: 60px;
}
